CHANGELOG.md merge=union
* text=auto
*.png binary
*.rtf binary
*.sh text eol=lf

# Copilot Recommendations
###############################################################################
# Line endings
* text=auto
*.ps1     text eol=crlf
*.psm1    text eol=crlf
*.psd1    text eol=crlf
*.ps1xml  text eol=crlf
*.cdxml   text eol=crlf
*.pssc    text eol=crlf
*.rdp     text eol=crlf
Desktop.ini text eol=crlf
desktop.ini text eol=crlf

###############################################################################
# Encodings
*.ps1     working-tree-encoding=UTF-8
*.psm1    working-tree-encoding=UTF-8
*.psd1    working-tree-encoding=UTF-8
*.ps1xml  working-tree-encoding=UTF-8
*.cdxml   working-tree-encoding=UTF-8
*.pssc    working-tree-encoding=UTF-8

*.rdp     working-tree-encoding=UTF-16LE
Desktop.ini     working-tree-encoding=UTF-8
desktop.ini     working-tree-encoding=UTF-8
